---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Tina Chang | Archive">
  <div id="archive-wrapper">
    <div id="archive-nav">
      <a href="/"
        ><Icon class="archive-icon" name="ic:sharp-arrow-back-ios" />
        <Icon class="archive-icon" name="ph:house-fill" />
        <p>Back to Main</p></a
      >
    </div>
    <div id="archive-section-wrapper">
      <h1>An Archive of Sorts</h1>
      <div class="archive-section">
        <h2 class="archive-title">Projects</h2>
        <div class="archive-gallery">
          <div class="archive-video">
            <iframe
              class="responsive-video border rounded-corners border"
              src="https://www.youtube.com/embed/NBXJJHjP8Y8"
              title="Widget Library Demo v1.0"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="archive-video bunlife-container rounded-corners border">
            <a href="https://tinaamy-chang.github.io/BunLife/" target="_blank"
              ><img
                class="bunlife-image"
                src="/archive/projects/archived_bunlife.png"
                alt="bunlife image"
              />
              <div class="bunlife-hover rounded-corners border">
                <img
                  class="bunlife-hover-image"
                  src="/archive/projects/archived_bunlifebutton.png"
                  alt="bunlife button image"
                />
              </div>
            </a>
          </div>
          <div class="archive-gallery">
            <img
              class="pop-image archive-image archive-image-top rounded-corners border"
              src="/archive/projects/archived_bills.png"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-top rounded-corners border"
              src="/archive/projects/archived_derekjeter.png"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-top rounded-corners border"
              src="/archive/projects/archived_devaworld.jpg"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-top rounded-corners border"
              src="/archive/projects/archived_lyme.gif"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-center rounded-corners border"
              src="/archive/projects/archived_mapping.png"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-center rounded-corners border"
              src="/archive/projects/archived_moor.png"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-top rounded-corners border"
              src="/archive/projects/archived_pathways.png"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-center rounded-corners border"
              src="/archive/projects/archived_piecesofher.png"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-center rounded-corners border"
              src="/archive/projects/archived_ruth.jpg"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-center rounded-corners border"
              src="/archive/projects/archived_ruth2.jpg"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-center rounded-corners border"
              src="/archive/projects/archived_stardog.jpeg"
              alt=""
            />
            <img
              class="pop-image archive-image archive-image-top rounded-corners border"
              src="/archive/projects/archived_tyk.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="archive-section">
        <h2 class="archive-title">Illustrations</h2>
        <div class="archive-gallery">
          <div class="archive-video">
            <iframe
              class="responsive-video border rounded-corners border"
              src="https://www.youtube.com/embed/t8-ea-a3bbo"
              title="Widget Library Demo v1.0"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="archive-video">
            <iframe
              class="responsive-video border rounded-corners border"
              src="https://www.youtube.com/embed/_PE99AtniyU"
              title="Widget Library Demo v1.0"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="archive-gallery">
          <img
            class="pop-image archive-image archive-image-center rounded-corners border"
            src="/archive/illustrations/illus_animals.png"
            alt=""
          />
          <img
            class="pop-image archive-image archive-image-center rounded-corners border"
            src="/archive/illustrations/illus_bears.png"
            alt=""
          />
          <img
            class="pop-image archive-image archive-image-top rounded-corners border"
            src="/archive/illustrations/illus_bunclicker.jpg"
            alt=""
          />
          <img
            class="pop-image archive-image archive-image-top rounded-corners border"
            src="/archive/illustrations/illus_donuts.jpg"
            alt=""
          />
          <img
            class="pop-image archive-image archive-image-center rounded-corners border"
            src="/archive/illustrations/illus_fish.jpg"
            alt=""
          />
          <img
            class="pop-image archive-image archive-image-top rounded-corners border"
            src="/archive/illustrations/illus_fishpattern.jpg"
            alt=""
          />
          <img
            class="pop-image archive-image archive-image-center rounded-corners border"
            src="/archive/illustrations/illus_galaxtea.jpg"
            alt=""
          />
          <img
            class="pop-image archive-image archive-image-center rounded-corners border"
            src="/archive/illustrations/illus_milkley.jpg"
            alt=""
          />
          <img
            class="pop-image archive-image archive-image-top rounded-corners border"
            src="/archive/illustrations/illus_subbird.jpg"
            alt=""
          />
          <img
            class="pop-image archive-image archive-image-center rounded-corners border"
            src="/archive/illustrations/illus_sunham.jpg"
            alt=""
          />

          <div class="archive-image archive-image-top"></div>
          <div class="archive-image archive-image-top"></div>
        </div>
      </div>
    </div>
    <div id="archive-nav">
      <a href="/"
        ><Icon class="archive-icon" name="ic:sharp-arrow-back-ios" />
        <Icon class="archive-icon" name="ph:house-fill" />
        <p>Back to Main</p></a
      >
    </div>
  </div>

  <style>
    #archive-nav a {
      font-size: 1.1em;
      display: inline-flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      text-decoration: none;
      margin: -1px -4px;
      border-width: 1px 4px;
      border-style: solid;
      border-color: transparent;

      &:hover {
        background-color: #dbeef7;
      }
    }

    #archive-nav a p {
      &:hover {
        font-weight: 400;
      }
    }

    .archive-icon {
      width: 20px;
    }

    #archive-wrapper {
      max-width: 1200px;
      margin: auto;
      padding: 60px 40px 100px 40px;
      display: flex;
      flex-direction: column;
      gap: 60px;
      @media only screen and (max-width: 660px) {
        gap: 20px;
        padding: 40px 20px 80px 20px;
      }
    }

    #archive-section-wrapper {
      display: flex;
      flex-direction: column;
      gap: 100px;
      @media only screen and (max-width: 660px) {
        gap: 60px;
      }
    }

    .archive-section {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }

    .archive-title {
      margin-bottom: 8px;
      padding: 12px 16px;
      background-color: #dbeef7;
    }

    .archive-gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      column-gap: 40px;
      row-gap: 80px;
      justify-content: space-between;
      @media only screen and (max-width: 660px) {
        gap: 20px;
      }
    }
    .archive-image {
      width: 28%;
      height: 150px;
    }

    .archive-image-top {
      object-position: 2% 2%;
      object-fit: cover;
    }

    .archive-image-center {
      object-fit: cover;
    }
    .archive-video {
      width: 47%;
      @media only screen and (max-width: 750px) {
        width: 100%;
      }
    }
    .bunlife-container {
      position: relative;
      display: inline;
      transition: opacity 0.8s ease-in-out;
      &:hover {
        .bunlife-hover {
          visibility: visible;
          opacity: 1;
          transition: all 0.8s ease-in-out;
        }
      }
    }

    .bunlife-image {
      aspect-ratio: 16 / 9;
      width: 100%;
      border: 1px solid #efefef;
      border-radius: 4px;
      object-fit: cover;
    }

    .bunlife-hover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      align-items: center;
      justify-content: center;
      display: flex;
      visibility: hidden;
      opacity: 0;
      /* animation-name: hover-in-opacity;
        animation-duration: 0.6s; */
      transition: all 0.8s ease-in-out;
    }

    .bunlife-hover-image {
      width: 30%;
    }

    @keyframes hover-in-opacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>
</Layout>
