---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import NavigationArrows from "../components/NavigationArrows.astro";
import SectionsLayout from "../components/SectionsLayout.astro";
---

<Layout title="Tina Chang | Portfolio">
  <div id="wrapper">
    <Navigation />
    <SectionsLayout />
    <NavigationArrows />
  </div>
</Layout>

<style>
  #wrapper {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: auto;
    @media only screen and (max-width: 600px) {
    }
  }
</style>
