---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import NavigationArrows from "../components/NavigationArrows.astro";
import SectionsLayout from "../components/SectionsLayout.astro";
---

<Layout title="Tina Chang | Portfolio">
  <div id="wrapper">
    <Navigation />
    <SectionsLayout />
  </div>
  <NavigationArrows />
</Layout>

<style>
  #wrapper {
    width: 100%;
    max-width: 1600px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100vh;
    @media only screen and (max-width: 600px) {
    }
  }
</style>
