---
import { Icon } from "astro-icon";
import Linkbar from "../components/Linkbar.astro";

interface Props {}

const {} = Astro.props;
---

<div class="about-layout">
  <div class="about-wrapper">
    <div>
      <h1 class="about-header">
        Let's get in <span class="no-break" style="font-weight:400"
          >touch. <Icon
            class="talk-icon"
            name="clarity:talk-bubbles-solid"
          /></span
        >
      </h1>
    </div>
    <div>
      <h2 class="about-info">
        tinaamy.chang@gmail.com or 714 - 515 - 2475 (PST)
      </h2>
    </div>
    <Linkbar ishomesection={false} />
  </div>
</div>

<style>
  .talk-icon {
    color: #40bfe7;
    height: 32px;
  }
</style>
