---
interface Props {}

const {} = Astro.props;
---

<div class="project-wrapper">
  <div class="project-description">
    <div>
      <h1>Product/UI/UX @ Curant</h1>
      <div>
        <p>
          <a class="link-styling" href="https://curant.io" target="_blank"
            >Curant (formerly Freightpay)</a
          >
        </p>
        <p>Design & Management</p>
      </div>
    </div>
    <div class="text-wrapper">
      <p>
        As the sole designer at Curant, I think it is crucial for me to shape
        the product holistically. This involves everything from user interface,
        product perception through marketing, and customer support and
        documentation. Additionally, internal users shouldn't be neglected
        either. It is crucial for sole product designers to support the
        engineering team through QA and documentation efforts.
        <br />
         The section ahead showcases what I've done at Curant.
        <br />
        <br />
         If you'd like to see a deeper glimpse at my design & process, feel free
        to skip ahead to <a class="link-styling" href="#paymentforms"
          >Payment Forms</a
        > or the <a class="link-styling" href="#widgetlibrary">Widget Library</a
        >.
      </p>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>key milestones</h2></div>
    <div class="section-content">21-22 infographic, revenue</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>redesign</h2></div>
    <div class="section-content">redesign</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>marketing</h2></div>
    <div class="section-content">
      website, freightwaves page+linkedin, linkedin, newsletters, investor
      decks/pitches
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>cx & support</h2></div>
    <div class="section-content">docs/trello</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>internal</h2></div>
    <div class="section-content">qa process, documentation</div>
  </div>

  <style></style>
</div>
