---
interface Props {}
import { Icon } from "astro-icon";

const {} = Astro.props;
---

<div class="project-wrapper">
  <div class="project-description">
    <div>
      <h1>Product/UI/UX @ Curant</h1>
      <div>
        <p>
          <a
            class="link-styling"
            href="https://curant/curant.io"
            target="_blank">Curant (formerly Freightpay)</a
          >
        </p>
        <p>Product, Design, & Management</p>
      </div>
    </div>
    <div class="text-wrapper">
      <p>
        As the sole designer at Curant, it is crucial for me to shape the
        product holistically. This involves everything from user interface,
        product perception through marketing, customer support, and
        documentation.<br /><br />Additionally, internal users shouldn't be
        neglected either. It is as important to support the engineering team
        through Frontend, QA, and documentation efforts.
        <br />
        <br />
        The section ahead showcases what I've done at Curant.
        <br />
        If you'd like to see a deeper glimpse at my designs & process, feel free
        to skip ahead to <a class="link-styling" href="#paymentforms"
          >Payment Forms</a
        > or the <a class="link-styling" href="#widgetlibrary">Widget Library</a
        >.
      </p>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>key milestones</h2></div>
    <div class="section-content">
      <div class="section-wrapper">
        <div class="half">
          <h3>2022: From $0 to $1M in Transactions</h3>
          <img
            class="pop-image project-image border rounded-corners"
            src="/curant/curant_year-in-review.png"
            alt="Curant's 2022 year in review"
          />
        </div>
        <div class="half">
          <h3>2023: To averaging $1M+ Total in Transactions/month</h3>
          <img
            class="pop-image project-image border rounded-corners"
            style="background-color:#ffffff"
            src="/curant/curant_2023-graphs.png"
            alt="Curant's 2023 (Jan - Oct) Transactions"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>redesign</h2></div>
    <div class="section-content">
      <div>
        <h3>Modernization, brand standardization, & product scalability</h3>
        <div class="section-wrapper">
          <div class="fourth">
            <img
              class="pop-image project-image rounded-corners"
              src="/curant/curant_redesign-old.png"
              alt="Curant's old app design"
              style="max-width:270px;"
            />
            <div class="caption-wrapper">
              <p class="caption">
                <em>old app design&nbsp;</em>
                <Icon class="icon" name="ic:outline-arrow-upward" />
              </p>
            </div>
          </div>
          <div class="three-fourths">
            <div class="caption-wrapper">
              <Icon
                class="icon"
                name="ic:outline-arrow-downward"
                style="margin-bottom:8px;"
              /><p class="caption" style="margin-top:-4px">
                <em>&nbsp;refreshed app design, branding, and components</em>
              </p>
            </div>
            <img
              class="pop-image project-image rounded-corners"
              src="/curant/curant_redesign-new.png"
              alt="Curant's redesigned app, branding, and components"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>marketing</h2></div>
    <div class="section-content">
      <div>
        <h3>
          Marketing website launch using Webflow // In collaboration with <a
            class="link-styling"
            href="https://www.jessebutts.com/"
            target="_blank"
            style="font-weight:600;">Jesse Butts</a
          >
        </h3>
        <img
          class="pop-image project-image rounded-corners"
          src="/curant/curant_marketing-website.png"
          alt="Curant's Website & Blog"
        />
      </div>
      <div>
        <h3>
          Mini-Campaign through LinkedIn posts to connect & meet people at
          FreightWaves F3 Future of Freight Festival
        </h3>
        <img
          class="pop-image project-image rounded-corners"
          src="/curant/curant_marketing-freightwaves.png"
          alt="FreightWaves F3 x Freightpay campaign website and LinkedIn posts"
        />
      </div>
      <div>
        <h3>
          Newsletter series using HubSpot eblasts to keep our existing users
          engaged & informed
        </h3>
        <img
          class="pop-image project-image rounded-corners"
          src="/curant/curant_marketing-newsletters.png"
          alt="Newsletter emails sent to Curant customers"
        />
      </div>
      <div>
        <h3>Pitch decks for Sales, Customers, & Investors</h3>
        <img
          class="pop-image project-image rounded-corners"
          src="/curant/curant_marketing-decks.png"
          alt="Pitch deck slides for sales, customers, & investors"
        />
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>cx & support</h2></div>
    <div class="section-wrapper">
      <div class="half">
        <h3>Collaborative customer onboarding (KYB) checklists on Trello</h3>
        <img
          class="pop-image project-image rounded-corners"
          src="/curant/curant_customer-onboarding.png"
          alt="The Trello Board for customer onboarding"
        />
      </div>

      <div class="half">
        <h3>Documentation & Support for new features</h3>
        <img
          class="pop-image project-image rounded-corners"
          src="/curant/curant_customer-support.png"
          alt="Documentation & support for customers"
        />
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>internal</h2></div>
    <div class="section-content">
      <div class="section-wrapper">
        <div class="third">
          <h3>
            Coded components in Storybook to help engineers with feature
            launches
          </h3>
          <img
            class="pop-image project-image rounded-corners"
            src="/curant/curant_internal-storybook.png"
            alt="Coded Storybook components with variants"
          />
        </div>
        <div class="third">
          <h3>Launched a temporary QA process to define release priorities</h3>
          <img
            class="pop-image project-image rounded-corners"
            src="/curant/curant_internal-qa.png"
            alt="Checklist of critical features that needed to be working during releases"
          />
        </div>
        <div class="third">
          <h3>
            Researched using Design Spikes to explore & mockup possible features
          </h3>
          <img
            class="pop-image project-image rounded-corners"
            src="/curant/curant_internal-spikes.png"
            alt="Design Spikes: Documentation, Research, and exploration of early design mocks"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<style></style>
