---
import { Icon } from "astro-icon";

interface Props {
  ishomesection: boolean;
}

const { ishomesection } = Astro.props;
---

<div class="about-info">
  <a href="/archive" class="nav-link"
    ><Icon class="nav-icon" name="bi:archive-fill" />
    <p class="nav-text">Archive</p></a
  > //
  <a href="/TChang_Resume_2024.pdf" target="_blank" class="nav-link"
    ><Icon class="nav-icon" name="uiw:file-text" />
    <p class="nav-text">Resume</p></a
  > //
  <a
    href="https://www.linkedin.com/in/tinastunas/"
    class="nav-link"
    target="_blank"
    ><Icon class="nav-icon" name="uiw:linkedin" />
    <p class="nav-text">LinkedIn</p></a
  >
  // <a
    href="https://github.com/tinaamy-chang/portfolio-2023"
    class="nav-link"
    target="_blank"
    ><Icon class="nav-icon" name="uiw:github" />
    <p class="nav-text">Github</p></a
  > // {
    ishomesection ? (
      <a href="#productatcurant" class="nav-link">
        <>
          <p class="nav-text">Featured Projects&nbsp;</p>
          <Icon class="nav-icon" name="uiw:down" />
        </>
      </a>
    ) : (
      <a href="#home" class="nav-link">
        <>
          <p class="nav-text">Back to Top&nbsp;</p>
          <Icon class="nav-icon" name="uiw:up" />
        </>
      </a>
    )
  }
</div>

<style is:global>
  .nav-link {
    text-decoration: none;
    margin: -1px -4px;
    border-width: 1px 4px;
    border-style: solid;
    border-color: transparent;
    &:hover {
      background-color: #dbeef7;
      font-weight: 400;
    }
  }

  .nav-text {
    vertical-align: 1.5px;
    display: inline;
    &:hover {
      font-weight: 400;
    }
  }
  .nav-icon {
    height: 16px;
  }
</style>
