---
import { Icon } from "astro-icon";

interface Props {}

const {} = Astro.props;
---

<div class="modal-wrapper">
  <div class="close-button">
    <Icon class="close-button-icon" name="ic:sharp-close" />
  </div>
  <img id="modal-image" />
  <p id="modal-caption"></p>
</div>

<style is:global>
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    overflow: auto;
    padding: 120px 40px;
    animation-name: modal-opacity;
    animation-duration: 0.6s;

    @media screen and (max-width: 600px) {
      padding: 80px 20px;
    }
  }

  @keyframes modal-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .close-button {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 48px;
    &:hover {
      cursor: pointer;
    }
  }

  .close-button-icon {
    color: white;
  }
  #modal-image {
    max-height: 1000px;
    max-width: 100%;
    background-color: white;
  }
  #modal-caption {
    color: white;
    font-size: 1.2em;
    margin: 8px;
  }

  .pop-image {
    &:hover {
      cursor: pointer;
    }
  }
</style>

<script>
  const closebutton = document.querySelector(
    ".close-button"
  ) as HTMLElement | null;

  const modal = document.querySelector(".modal-wrapper") as HTMLElement | null;
  const modalImg = document.getElementById(
    "modal-image"
  ) as HTMLImageElement | null;
  const images = document.getElementsByClassName(
    "pop-image"
  ) as HTMLCollectionOf<HTMLImageElement>;

  const captionText = document.getElementById(
    "modal-caption"
  ) as HTMLElement | null;

  if (modal && modalImg && captionText) {
    for (var i = 0; i < images.length; i++) {
      var img = images[i];
      // and attach our click listener for this image.
      img.addEventListener("click", function (evt: any) {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
      });
    }

    closebutton?.addEventListener("click", () => {
      modal.style.display = "none";
    });

    window.onclick = function (event) {
      if (event.target === modal) {
        modal.style.display = "none";
      }
    };
  }
</script>
