---
import { Icon } from "astro-icon";

interface Props {}

const {} = Astro.props;
---

<>
  <div class="nav-wrapper first-load show">
    <div class="nav-items-wrapper">
      <div class="nav-items">
        <img class="nav-img" style="padding: 8px;" src="/profile.svg" />
      </div>
      <div class="nav-items">
        <p class="nav-title">Tina Chang <br />Product/UI/UX</p>
      </div>
      <div class="nav-items link-align">
        <a
          href="/TChang_Resume_2023.pdf"
          target="_blank"
          class="nav-link no-break"
          ><Icon class="nav-icon" name="uiw:file-text" />
          <p class="nav-text">&nbsp;Resume</p></a
        >
        <p>//</p>
        <a
          href="https://www.linkedin.com/in/tinastunas/"
          class="nav-link no-break"
          target="_blank"
          ><Icon class="nav-icon" name="uiw:linkedin" />
          <p class="nav-text">&nbsp;LinkedIn</p></a
        >
      </div>
      <div class="nav-items">
        <a
          class="nav-link"
          href="https://github.com/tinaamy-chang/portfolio-2023"
          target="_blank"
        >
          This website was coded using Astro. Check out my code!

          <Icon class="nav-icon" name="majesticons:external-link-line" /></a
        >
      </div>
      <div class="nav-items">
        <a
          class="nav-link"
          href="https://tinafish-portfolio-2021.vercel.app/"
          target="_blank"
        >
          I can also use React.<br />Visit a past portfolio. <Icon
            class="nav-icon"
            name="majesticons:external-link-line"
          /></a
        >
      </div>
    </div>
    <div class="nav-items-wrapper">
      <a
        id="nav-item-home"
        href="#home"
        class="nav-items nav-anchor active-item">Home</a
      >
      <a
        id="nav-item-productatcurant"
        href="#productatcurant"
        class="nav-items nav-anchor">Product/UI/UX @ Curant</a
      >
      <a
        id="nav-item-paymentforms"
        href="#paymentforms"
        class="nav-items nav-anchor">Curant's Payment Forms</a
      >
      <a
        id="nav-item-widgetlibrary"
        href="#widgetlibrary"
        class="nav-items nav-anchor">Bio-Rad's Widget Library</a
      >
      <!-- <a id="nav-item-cats" href="#cats" class="nav-items nav-anchor">Cats</a> -->
      <a id="nav-item-contact" href="#contact" class="nav-items nav-anchor"
        >Contact</a
      >
    </div>
  </div>
  <div class="nav-collapse">«</div>
</>

<style>
  .nav-img {
    width: 88px;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    height: 100vh;
    flex: 1;
    min-width: 240px;
    max-width: 280px;
    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    gap: 24px;
    z-index: 900;
    background-color: #fff;
    @media only screen and (max-width: 750px) {
      min-width: calc(100vw - 36px);
    }
  }

  .show {
    min-width: 240px;
    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    @media only screen and (max-width: 750px) {
      min-width: calc(100vw - 36px);
    }
  }

  .first-load {
    @media only screen and (max-width: 600px) {
      min-width: 0px;
      max-width: 0px;
    }
  }

  .hide {
    min-width: 0px;
    max-width: 0px;
    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .nav-collapse {
    min-width: 36px;
    background-color: #dbeef7;
    height: 100vh;
    position: sticky;
    padding-top: 12px;
    font-size: 1.2em;
    top: 0;
    text-align: center;
    transition: background-color 0.25s ease-in-out;
    z-index: = 800;

    @media only screen and (max-width: 750px) {
      width: 28px;
      font-size: 1.8em;
    }

    &:hover {
      background-color: #c8dfea;
      transition: background-color 0.25s ease-in-out;
      cursor: pointer;
    }
  }

  .nav-wrapper::before,
  .nav-wrapper::after {
    content: "";
    margin: auto;
  }

  .nav-items-wrapper {
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  .nav-items {
    min-width: 200px;
    padding: 8px 24px;
  }

  .nav-anchor {
    text-decoration: none;
    &:hover {
      font-weight: 400;
      background-color: #dbeef7;
    }
  }

  .active-item {
    background-color: #dbeef7;
    font-weight: 400;
    &:hover {
      background-color: #c8dfea;
    }
  }

  .nav-image {
    border-radius: 100px;
  }

  .nav-title {
    font-family: "freight-macro-pro", system-ui, sans-serif;

    font-size: 1.6em;
    font-weight: 500;
  }

  .nav-icon {
    height: 12px;
  }
  .nav-link {
    vertical-align: sub;
    text-decoration: none;
    margin: -1px -4px;
    border-width: 1px 4px;
    border-style: solid;
    border-color: transparent;
    &:hover {
      background-color: #dbeef7;
    }
  }

  .nav-text {
    vertical-align: text-bottom;
    display: inline;
    &:hover {
      font-weight: 400;
    }
  }

  .link-align {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-end;
  }
</style>

<script>
  const navtoggle = document.querySelector(
    ".nav-collapse"
  ) as HTMLElement | null;
  const navwrapper = document.querySelector(
    ".nav-wrapper"
  ) as HTMLElement | null;

  if (navwrapper) {
    navtoggle?.addEventListener("click", () => {
      if (navwrapper?.classList.contains("show")) {
        navwrapper?.classList.remove("first-load");
        navwrapper?.classList.add("hide");
        navwrapper?.classList.remove("show");
        navtoggle.innerHTML = "»";
      } else {
        navwrapper?.classList.remove("first-load");
        navwrapper?.classList.add("show");
        navwrapper?.classList.remove("hide");
        navtoggle.innerHTML = "«";
      }
    });
  }

  if (navtoggle) {
    const win = window;
    window.addEventListener("load", () => {
      const win = window.innerWidth;
      if (win < 600) {
        navwrapper?.classList.add("hide");
        navwrapper?.classList.remove("show");
        navtoggle.innerHTML = "»";
      }
    });

    let oldWindowWidth = win.innerWidth;

    win.addEventListener("resize", () => {
      let newWindowWidth = win.innerWidth;
      if (newWindowWidth > oldWindowWidth && newWindowWidth < 600) {
      } else if (newWindowWidth < oldWindowWidth && newWindowWidth > 600) {
        navwrapper?.classList.add("hide");
        navwrapper?.classList.remove("first-load");
        navwrapper?.classList.remove("show");
        navtoggle.innerHTML = "»";
      }

      // update the old width
      oldWindowWidth = newWindowWidth;
    });
  }

  // const navitems = document.querySelectorAll(".nav-items.nav-anchor");

  // navitems.forEach((i) => {
  //   i.addEventListener("click", function (e) {
  //     document
  //       .querySelector(".nav-items-wrapper a.active-item")
  //       ?.classList.remove("active-item");
  //     (e.target as Element).classList.add("active-item");
  //   });
  // });
</script>
