---
import { Icon } from "astro-icon";

interface Props {}

const {} = Astro.props;
---

<>
  <div class="nav-wrapper first-load show">
    <div class="nav-items-wrapper">
      <div class="nav-items">
        <img class="nav-img" src="https://placehold.co/50" />
      </div>
      <div class="nav-items">
        <p class="nav-title">Tina Chang <br />Product/UI/UX</p>
      </div>
      <div class="nav-items">
        <a href="/TChang_Resume_2023.pdf" target="_blank" class="nav-link"
          ><Icon class="nav-icon" name="uiw:file-text" />
          <p class="nav-text">&nbsp;Resume</p></a
        > // <a
          href="https://www.linkedin.com/in/tinastunas/"
          class="nav-link"
          target="_blank"
          ><Icon class="nav-icon" name="uiw:linkedin" />
          <p class="nav-text">&nbsp;LinkedIn</p></a
        >
      </div>
      <div class="nav-items">
        <a
          class="nav-link"
          href="https://github.com/tinaamy-chang/portfolio-2023"
          target="_blank"
          ><p class="nav-text">
            This website was coded using Astro. Check out my code!
          </p>
          <Icon class="nav-icon" name="majesticons:external-link-line" /></a
        >
      </div>
    </div>
    <div class="nav-items-wrapper">
      <a
        id="nav-item-home"
        href="#home"
        class="nav-items nav-anchor active-item">Home</a
      >
      <a
        id="nav-item-productatcurant"
        href="#productatcurant"
        class="nav-items nav-anchor">Product/UI/UX @ Curant</a
      >
      <a
        id="nav-item-paymentforms"
        href="#paymentforms"
        class="nav-items nav-anchor">Payment Forms</a
      >
      <a
        id="nav-item-widgetlibrary"
        href="#widgetlibrary"
        class="nav-items nav-anchor">Widget Library</a
      >
      <a id="nav-item-cats" href="#cats" class="nav-items nav-anchor">Cats</a>
      <a id="nav-item-contact" href="#contact" class="nav-items nav-anchor"
        >Contact</a
      >
    </div>
  </div>
  <div class="nav-collapse">«</div>
</>

<style>
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    position: sticky;
    height: 100vh;
    max-width: 200px;
    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    gap: 20px;
  }

  .show {
    min-width: 200px;
    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .first-load {
    @media only screen and (max-width: 600px) {
      min-width: 0px;
      max-width: 0px;
    }
  }

  .hide {
    min-width: 0px;
    max-width: 0px;
    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .nav-collapse {
    min-width: 24px;
    background-color: #dbeef7;
    height: 100vh;
    position: sticky;
    padding: 4px 0;
    top: 0;
    text-align: center;
    transition: background-color 0.25s ease-in-out;

    &:hover {
      background-color: #c8dfea;
      transition: background-color 0.25s ease-in-out;
      cursor: pointer;
    }
  }

  .nav-wrapper::before,
  .nav-wrapper::after {
    content: "";
    margin: auto;
  }

  .nav-items-wrapper {
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  .nav-items {
    min-width: 200px;
    padding: 4px 8px;
  }

  .nav-anchor {
    text-decoration: none;
    &:hover {
      font-weight: 500;
      background-color: #dbeef7;
    }
  }

  .active-item {
    background-color: #dbeef7;
    font-weight: 400;
    &:hover {
      font-weight: 500;
      background-color: #c8dfea;
    }
  }

  .nav-image {
    border-radius: 100px;
  }

  .nav-title {
    font-size: 1.6em;
    font-weight: 500;
  }

  .nav-icon {
    height: 12px;
  }
  .nav-link {
    vertical-align: sub;
    text-decoration: none;
    margin: -1px -4px;
    border-width: 1px 4px;
    border-style: solid;
    border-color: transparent;
    &:hover {
      font-weight: 400;
      background-color: #dbeef7;
    }
  }

  .nav-text {
    vertical-align: text-bottom;
    display: inline;
    &:hover {
      font-weight: 400;
    }
  }
</style>

<script>
  const navtoggle = document.querySelector(
    ".nav-collapse"
  ) as HTMLElement | null;
  const navwrapper = document.querySelector(
    ".nav-wrapper"
  ) as HTMLElement | null;

  if (navwrapper) {
    navtoggle?.addEventListener("click", () => {
      if (navwrapper?.classList.contains("show")) {
        navwrapper?.classList.remove("first-load");
        navwrapper?.classList.add("hide");
        navwrapper?.classList.remove("show");
        navtoggle.innerHTML = "»";
      } else {
        navwrapper?.classList.remove("first-load");
        navwrapper?.classList.add("show");
        navwrapper?.classList.remove("hide");
        navtoggle.innerHTML = "«";
      }
    });
  }

  if (navtoggle) {
    const win = window;
    window.addEventListener("load", () => {
      const win = window.innerWidth;
      if (win < 600) {
        navwrapper?.classList.add("hide");
        navwrapper?.classList.remove("show");
        navtoggle.innerHTML = "»";
      }
    });

    let oldWindowWidth = win.innerWidth;

    win.addEventListener("resize", () => {
      let newWindowWidth = win.innerWidth;
      if (newWindowWidth > oldWindowWidth && newWindowWidth < 600) {
      } else if (newWindowWidth < oldWindowWidth && newWindowWidth > 600) {
        console.log("descreased");
        navwrapper?.classList.add("hide");
        navwrapper?.classList.remove("first-load");
        navwrapper?.classList.remove("show");
        navtoggle.innerHTML = "»";
      }

      // update the old width
      oldWindowWidth = newWindowWidth;
    });
  }

  // const navitems = document.querySelectorAll(".nav-items.nav-anchor");

  // navitems.forEach((i) => {
  //   i.addEventListener("click", function (e) {
  //     document
  //       .querySelector(".nav-items-wrapper a.active-item")
  //       ?.classList.remove("active-item");
  //     (e.target as Element).classList.add("active-item");
  //   });
  // });
</script>
