---
interface Props {}

const {} = Astro.props;
---

<div class="project-wrapper">
  <div class="project-description">
    <div>
      <h1>Payment Forms</h1>
      <div>
        <p>
          <a class="link-styling" href="https://curant.io" target="_blank"
            >Curant (formerly Freightpay)</a
          >
        </p>
        <p>UI/UX</p>
      </div>
    </div>
    <div class="text-wrapper">
      <p>Payment Forms are blah blah</p>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>scope</h2></div>
    <div class="section-content">problem/solution</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>research</h2></div>
    <div class="section-content">inspirations</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>wireframe for mvp</h2></div>
    <div class="section-content">wireframes pt1+live</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>wireframe for new features</h2></div>
    <div class="section-content">settings</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>final</h2></div>
    <div class="section-content">hi-fi show</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>feedback/discoveries</h2></div>
    <div class="section-content">feedback discoveries</div>
  </div>

  <style></style>
</div>
