---
interface Props {}

const {} = Astro.props;
---

<div class="project-wrapper">
  <div class="project-description">
    <div>
      <h1>Curant's Payment Forms</h1>
      <div>
        <p>
          <a class="link-styling" href="https://curant.io" target="_blank"
            >Curant (formerly Freightpay)</a
          >
        </p>
        <p>UI/UX</p>
      </div>
    </div>
    <div class="text-wrapper">
      <p>
        Payment Forms are customizable white-labeled forms that make it easy for
        3PLs and Freight Forwarders to recieve payments from their clients.

        <br />
        <br />
         Curant's Payment Forms helped <a
          class="link-styling"
          href="https://awaship.com"
          target="_blank">American Worldwide Agencies (AWA)</a
        > shrink credit card payment times by 75% and streamlined their A/R
        operations. <a
          class="link-styling"
          href="https://www.curant.io/case-studies/awa"
          target="_blank">Read the case study here.</a
        >
      </p>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>scope</h2></div>
    <div class="section-content">
      <div class="section-wrapper">
        <div class="half">
          <h3>
            Payments are being collected through highly inefficient ways such as
            a paper form or bank routing numbers.
          </h3>
          <ul>
            <li>
              Insecure method that often needs back and forth communication to
              aquire information
            </li>
            <li>
              Hard to track; time is often wasted digging around for
              reconcillation
            </li>
            <li>
              Does not connect to Accounting or Transportation Management System
              (TMS)
            </li>
          </ul>
        </div>
        <div class="half">
          <div class="section-wrapper" style="flex-wrap:nowrap; gap: 20px;">
            <div class="half">
              <img
                class="pop-image project-image border rounded-corners"
                src="/paymentforms/pf_cc-form.png"
                alt="An example of a paper form used to collect credit card
                payments"
              />
            </div>
            <div class="half">
              <p class="caption">
                <em
                  >an example of a paper form used to collect credit card
                  payments</em
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>research</h2></div>
    <div class="section-content">
      <div class="section-wrapper">
        <div class="half">
          <img
            class="pop-image project-image"
            src="/paymentforms/pf_research.png"
            alt="Examples of other payment forms/payment portals"
          />
        </div>
        <div class="half">
          <h3>Payment forms aren't anything new.</h3>
          <p style="margin-bottom: 20px;">
            We just needed an MVP that customers could white-label to start
            collecting payments & understanding user needs.
          </p>

          <h3>
            ...but design needed to keep business & engineering decisions in
            mind.
          </h3>
          <ul>
            <li>
              By using <a
                class="link-styling"
                href="https://dwolla.com"
                target="_blank">Dwolla</a
              > for ACH payments, we need to verify & create accounts for
              clients. They require email, name, and business name.
            </li>
            <li>
              We can only control up to when the user selects a method to pay—
              from there connecting a bank (Plaid) or using card (Stripe), we
              will have to use their requirements for the UI/UX.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>process</h2></div>
    <div class="section-content">
      <img
        class="pop-image project-image rounded-corners"
        src="/paymentforms/pf_process.png"
        alt="The process of the Payemnt Form from phase 1 to phase 2 to final"
      />

      <div>
        <img
          class="pop-image project-image rounded-corners"
          src="/paymentforms/pf_product-map.png"
          alt="Collaborated with Engineers using FigJam to map the Payment
          Form's product fit and how Dwolla integrates into Curant's system"
        /><p class="caption">
          <em
            >Collaborated with Engineers using FigJam to map the Payment Form's
            product fit and how Dwolla integrates into Curant's system</em
          >
        </p>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>phase 1: mvp features</h2></div>
    <div class="section-content">
      <div>
        <img
          class="pop-image project-image"
          src="/paymentforms/pf_phase1.png"
          alt="Phase 1 design. From left to right: Iterations of Style/Design/Format, Error handling and states, Settings for the Form"
        />
        <p class="caption">
          <em
            >From left to right: Iterations of Style/Design/Format, Error
            handling and states, Settings for the Form</em
          >
        </p>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>phase 2: additional user needs</h2></div>
    <div class="section-content">
      <img class="project-image" src="https://placehold.co/1000x75" />
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>final</h2></div>
    <div class="section-content">
      <img class="project-image" src="https://placehold.co/1000x75" />
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>outcomes</h2></div>
    <div class="section-content">
      <div class="text-wrapper">
        <h3>
          We were able to get users started on Curant without without changing
          their current workflow.
        </h3>
        <p>
          Eventually, the goal was have customers adopt and integrate Curant's
          advanced features like invoicing clients or payments to vendors into
          their workflow.
        </p>
      </div>
      <div class="text-wrapper">
        <h3>
          & There a surprising discovery that led to a new feature that has
          become important to many users.
        </h3>
        <p>
          Even after launch, some clients of our customers either still
          preferred the paper form or have a distrust of digital payment
          platforms. Therefore, our customers started to submit payments to
          themselves on behalf of their clients. This resulted in the birth of
          another feature: "Pay on Behalf".
        </p>
      </div>
      <div class="text-wrapper">
        <p>
          Curant Payment Forms shinks credit card payment times by 75% and
          streamlines A/R operations. <a
            class="link-styling"
            href="https://www.curant.io/case-studies/awa"
            target="_blank">Read the case study here.</a
          >
        </p>
      </div>
    </div>
  </div>

  <style></style>
</div>
