---
interface Props {}

const {} = Astro.props;
---

<div class="project-wrapper">
  <div class="project-description">
    <div>
      <h1>Payment Forms</h1>
      <div>
        <p>
          <a class="link-styling" href="https://curant.io" target="_blank"
            >Curant (formerly Freightpay)</a
          >
        </p>
        <p>UI/UX</p>
      </div>
    </div>
    <div class="text-wrapper">
      <p>
        Payment Forms are customizable forms that make it easy for our users to
        recieve and track payments from their clients. They're nothing new in
        the FinTech space, however, may of our users use blah blah.

        <br />
        <br />
         Curant's Payment Forms helped <a
          class="link-styling"
          href="https://awaship.com"
          target="_blank">American Worldwide Agencies (AWA)</a
        > shrink credit card payment times by 75% and streamlined their A/R
        operations. <a
          class="link-styling"
          href="https://www.curant.io/case-studies/awa"
          target="_blank">Read the case study here.</a
        >
      </p>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>scope</h2></div>
    <div class="section-content">
      <div>
        <p class="text-wrapper">
          <strong>Users:</strong>
          <ol>
            <li>Clients (shippers) of our user who use the form to pay</li>
            <li>
              Our User (3PL/Freight Forwarders) who controls and receives
              payments from the form.
            </li>
          </ol>
        </p>
      </div>
      <p class="text-wrapper">
        <strong>Problem:</strong> Many users already have some sort of invoicing
        system but collect payment through highly inefficient ways such as a
        paper form or bank routing numbers. Additionally, receiving payment in
        these ways does not connect to their accounting or Transportation
        Management System (TMS), making it hard for users to track.
      </p>
      <p>
        Example of a paper form one of our users uses to collect Credit Card
        Payments: (Image from customer)
      </p>
      <p class="text-wrapper">
        <strong>Solution:</strong> Design and build a form that accepts digital
        payments. Make it easy to track who, what, and when a payment came from.
      </p>
      <p class="text-wrapper">
        <strong>Business sellpoint:</strong> This form is a great way for users
        to get started on Curant without without changing their current
        workflow. Eventually, they can move to Curant for more advanced features
        like invoicing or payments once they are more familiar with it.
      </p>
      <div>
        <p class="text-wrapper">
          <strong>Key Features:</strong>
          <ul>
            <li>Needs to provide a sufficient amount of security</li>
            <li>
              Form is not unique per client, only to the business using it to
              receive payments
            </li>
            <li>Needs to be able to accept multiple forms of payments</li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>research</h2></div>
    <div class="section-content">inspirations (+ noted restrictions)</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>phase 1: mvp</h2></div>
    <div class="section-content">
      <h3>MVP Goals</h3>
      <p>capture more transactions</p><p>capture more transactions</p>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>phase 2:</h2></div>
    <div class="section-content">settings</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>final</h2></div>
    <div class="section-content">hi-fi show</div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>feedback/discoveries</h2></div>
    <div class="section-content">feedback discoveries</div>
  </div>

  <style></style>
</div>
