---
interface Props {}

const {} = Astro.props;
---

<div class="project-wrapper">
  <div class="project-description">
    <div>
      <h1>Payment Forms</h1>
      <div>
        <p>
          <a class="link-styling" href="https://curant.io" target="_blank"
            >Curant (formerly Freightpay)</a
          >
        </p>
        <p>UI/UX</p>
      </div>
    </div>
    <div class="text-wrapper">
      <p>
        Payment Forms are customizable forms that make it easy for 3PLs and
        Freight Forwarders to recieve payments from their clients.

        <br />
        <br />
         Curant's Payment Forms helped <a
          class="link-styling"
          href="https://www.curant.io/case-studies/awa"
          target="_blank">American Worldwide Agencies (AWA)</a
        > shrink credit card payment times by 75% and streamlined their A/R
        operations. <a
          class="link-styling"
          href="https://www.curant.io/case-studies/awa"
          target="_blank">Read the case study here.</a
        >
      </p>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>scope</h2></div>
    <div class="section-content">
      <div class="section-wrapper">
        <div class="half">
          <h3>
            Payments are being collected through highly inefficient ways such as
            a paper form or bank routing numbers.
          </h3>
          <ul>
            <li>
              Insecure method that often needs back and forth communication to
              aquire information
            </li>
            <li>
              Hard to track; time is often wasted digging around for
              reconcillation
            </li>
            <li>
              Does not connect to Accounting or Transportation Management System
              (TMS)
            </li>
          </ul>
        </div>
        <div class="half">
          <div class="section-wrapper" style="flex-wrap:nowrap; gap: 20px;">
            <div class="half">
              <img class="project-image" src="https://placehold.co/160x220/" />
            </div>
            <div class="half">
              <p>
                <em
                  >an example of a paper form used to collect credit card
                  payments</em
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>research</h2></div>
    <div class="section-content">
      <div class="section-wrapper">
        <div class="half">
          <img class="project-image" src="https://placehold.co/200x200/" />
        </div>
        <div class="half">
          <h3>Payment forms aren't anything new.</h3>
          <p style="margin-bottom: 20px;">
            We just needed an MVP to start collecting payments & understanding
            user needs.
          </p>

          <h3>
            ...but design needs to keep business & engineering decisions in
            mind.
          </h3>
          <ul>
            <li>
              By using <a
                class="link-styling"
                href="https://dwolla.com"
                target="_blank">Dwolla</a
              > for ACH payments, we need to verify & create accounts for
              clients. They require email, name, and business name.
            </li>
            <li>
              We can only control up to when the user selects a method to pay—
              from there connecting a bank (Plaid) or using card (Stripe), we
              will have to use their requirements for the UI/UX.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>phase 1: mvp</h2></div>
    <div class="section-content">
      <h3>
        Create more transactions, connect it to the Curant Dashboard, launch
        credit card payments.
      </h3>
      <img class="project-image" src="https://placehold.co/1000x75" />
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>phase 2: user needs</h2></div>
    <div class="section-content">
      <h3>
        Allow more unique forms to be created, form customization, fees
        customization, create a "guest checkout" for card payments.
      </h3>
      <img class="project-image" src="https://placehold.co/1000x75" />
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>final</h2></div>
    <div class="section-content">
      <img class="project-image" src="https://placehold.co/1000x75" />
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>outcome</h2></div>
    <div class="section-content">
      <div class="text-wrapper">
        <h3>
          We were able to get users started on Curant without without changing
          their current workflow.
        </h3>
        <p>
          Eventually the goal was to Curant for more advanced features like
          invoicing or payments to vendors.
        </p>
      </div>
      <div class="text-wrapper">
        <h3>An interesting discovery that led to a new feature</h3>
        <p>
          Even after launch, some clients of our customers either still
          preferred the paper form or have a distrust of digital payment
          platforms. Therefore, our customers started to submit payments to
          themselves on behalf of their clients. This resulted in the birth of
          another feature: "Pay on Behalf".
        </p>
      </div>
      <div class="text-wrapper">
        <p>
          Curant Payment Forms shinks credit card payment times by 75% and
          streamlines A/R operations. <a
            class="link-styling"
            href="https://www.curant.io/case-studies/awa"
            target="_blank">Read the case study here.</a
          >
        </p>
      </div>
    </div>
  </div>

  <style></style>
</div>
