---
interface Props {}

const {} = Astro.props;

import Home from "../components/Home.astro";
import Curant from "../components/Curant.astro";
import PaymentForms from "../components/PaymentForms.astro";
import Cats from "../components/Cats.astro";
import WidgetLibrary from "../components/WidgetLibrary.astro";
import Contact from "../components/Contact.astro";
---

<div class="section-wrapper">
  <div id="home" class="in-view" data-callback="homeInView">
    <Home />
  </div>
  <div
    class="in-view project-layout"
    id="productatcurant"
    data-callback="productatcurantInView"
  >
    <Curant />
  </div>
  <div
    class="in-view project-layout"
    id="paymentforms"
    data-callback="paymentformsInView"
  >
    <PaymentForms />
  </div>
  <div
    class="in-view project-layout"
    id="widgetlibrary"
    data-callback="widgetlibraryInView"
  >
    <WidgetLibrary />
  </div>
  <div class="in-view project-layout" id="cats" data-callback="catsInView">
    <Cats />
  </div>
  <div id="contact" class="in-view" data-callback="">
    <Contact />
  </div>
</div>

<style>
  .section-wrapper {
    background-color: yellow;
  }

  .project-layout {
    width: 100%;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
  }
</style>
