---
interface Props {}

const {} = Astro.props;
---

<div class="bg-color">
  <h1>The Widget Library</h1>
  <p>
    The Widget Library is a web application I built at Bio-Rad. It helps sales
    representatives quickly build personalized and targeted communications for
    their customers by providing them with a library of interactive marketing
    materials that link to Bio-Rad landing pages. They no longer have to
    download, save, and organize marketing graphics. The materials are all in
    one place and always up to date.
  </p>
  <h2>scope</h2>
  <p>
    <ul>
      <li><strong>Audience:</strong> Bio-Rad Marketing & Sales</li>
      <li>
        <strong>Problem:</strong> Marketing has many product, event, awareness,
        and educational landing pages that they want Sales to use more. Sales is
        looking for a new ways to appeal to and engage their customers with
        Bio-Rad content and landing pages. How do we marry the two?
      </li>
      <li>
        <strong>Solution:</strong> Build a library of graphics, referred to
        internally as Widgets, that Sales can place into their emails to drive
        customer engagement with materials that Marketing has produced.
      </li>
      <li>
        <strong>Key Ideas:</strong> It should be quick and easy for Sales to
        create visually appealing emails using Marketing Widgets with mininmal
        error.
      </li>
    </ul>
  </p>
  <h2>wireframes</h2>
  <h3>Homepage/How to Use/Request form</h3>
  <img src="https://placehold.co/1000x75" />
  <h3>Search and Categorization</h3>
  <img src="https://placehold.co/1000x75" />
  <h3>Widget Displays</h3>
  <img src="https://placehold.co/1000x75" />
  <h2>version 1.0 demo video: hi-fi prototype</h2>
  <div class="section">
    <div class="half"><img src="https://placehold.co/400x300" /></div>
    <div class="half">
      <h3>Feedback:</h3><p>
        <ul>
          <li>Straightforward to navigate</li>
          <li>
            Clear, short instructions let the user understand what to do quickly
            and dive into using the tool
          </li>
          <li>Needs more branding</li>
          <li>Navigation bar needs cleaning up</li>
          <li>Needs a FAQ section</li>
        </ul>
      </p>
    </div>
  </div>
  <h2>version 2.0 demo video: released for use</h2>
  <div class="section">
    <div class="half"><img src="https://placehold.co/400x300" /></div>
    <div class="half">
      <h3>Feedback:</h3><p>
        <ul>
          <li>
            Needs scalability for regional content, including translations
          </li>
          <li>A search bar for widgets when there are more created</li>
          <li>
            Needs a way for the user to know which landing page is linked to the
            widget at a glance
          </li>
        </ul>
      </p>
    </div>
  </div>
  <h2>example of a Widget in use</h2>
  <h3>Screenshots from the demo videos</h3>
  <div class="section">
    <div><img src="https://placehold.co/200" /></div>
    <div><img src="https://placehold.co/200" /></div>
    <div><img src="https://placehold.co/200" /></div>
  </div>
</div>

<style>
  .bg-color {
    background-color: darkcyan;
  }
  .section {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
  }

  .half {
    width: 100%;
  }
</style>
