---
interface Props {}

const {} = Astro.props;
---

<div class="project-wrapper">
  <div class="project-description">
    <div>
      <h1>Bio-Rad's Widget Library</h1>
      <div>
        <p>
          <a class="link-styling" href="https://bio-rad.com" target="_blank"
            >Bio-Rad Laboratories</a
          >
        </p>
        <p>UI/UX & Frontend Development</p>
        <p>
          Collaborated w/ <a
            href="https://dopedesign.club/"
            target="_blank"
            class="nav-link">Samantha LemMon</a
          >
        </p>
      </div>
    </div>
    <div class="text-wrapper">
      <p>
        The Widget Library is a web application that helps sales representatives
        quickly build personalized and targeted communications for their
        customers. It is a library of marketing graphics AKA "Widgets" that are
        pre-linked to <span class="no-break">Bio-Rad</span> marketing and product
        pages. Sales reps at <span class="no-break">Bio-Rad</span>
        no longer have to download, save, and organize widgets and website URLs.
        The materials are all in one place and always up to date.
      </p>
    </div>
    <div class="section-wrapper image-wrapper">
      <div>
        <img
          class="pop-image widget-gif border rounded-corners"
          src="/widgetlibrary/widget_copy.gif"
          alt="Copy GIF"
        />
      </div>
      <div>
        <img
          class="pop-image widget-gif border rounded-corners"
          src="/widgetlibrary/widget_paste.gif"
          alt="Paste GIF"
        />
      </div>
      <div>
        <img
          class="pop-image widget-gif border rounded-corners"
          src="/widgetlibrary/widget_send.gif"
          alt="Send GIF"
        />
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>scope</h2></div>
    <div class="section-content">
      <img
        class="pop-image project-image"
        src="https://placehold.co/1000x100"
      />
      <div class="text-wrapper">
        <h3>
          Sales needs more ways to drive customer engagement. Marketing produces
          a lot of web content but it's hard to keep track.
        </h3>
        <p>
          Plus, text links are boring! People like graphics and customized
          content. But it is hard to keep these materials organized. How does
          one know if they're accidentally linking something outdated?
        </p>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>research</h2></div>
    <div class="section-content">
      <div class="text-wrapper">
        <h3>Our Users</h3>
        <p>
          <ul>
            <li>
              In their day to day they use software like MS Word, Excel, Adobe
              Acrobat, and Email.
            </li>
            <li>
              The most common sales workflow is meeting in person or calling
              preexisting known leads, then using an email to follow up.
            </li>
            <li>
              For sending their leads to website pages about their product, they
              typically have a doc that they copy and paste from. Otherwise,
              they will search the <span class="no-break">Bio-Rad</span>
              website or ask a coworker.
            </li>
            <li>
              Most of the time, they rather use a brochure at hand or will just
              download the most recent one from the <span class="no-break"
                >Bio-Rad</span
              > FTP server because they're not sure where or what the website pages
              are.
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>wireframes</h2></div>
    <div class="section-content">
      <div>
        <h3>Homepage/How to Use/Request form</h3>
        <img
          class="pop-image project-image"
          src="/widgetlibrary/widget_wireframe1_homepage.png"
          alt="Widget homepage wireframes"
        />
      </div>
      <div>
        <h3>Search and Categorization</h3>
        <img
          class="pop-image project-image"
          src="/widgetlibrary/widget_wireframe2_search.png"
          alt="Widget search & categorization wireframes"
        />
      </div>
      <div>
        <h3>Widget Displays</h3>
        <img
          class="pop-image project-image"
          src="/widgetlibrary/widget_wireframe3_displays.png"
          alt="Widget displays wireframes"
        />
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header">
      <h2>version 1.0 demo video: hi-fi prototype</h2>
    </div>
    <div class="section-content">
      <div class="section-wrapper">
        <div class="half">
          <iframe
            class="responsive-video border rounded-corners"
            src="https://www.youtube.com/embed/hoxgN3HxcB8"
            title="Widget Library Demo v1.0"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

          <div class="section-wrapper-no-responsive">
            <img
              class="pop-image half-no-responsive border rounded-corners"
              src="/widgetlibrary/widget_demo1-1.png"
              alt="Screenshot from v1.0 Demo Video: home page"
            />
            <img
              class="pop-image half-no-responsive border rounded-corners"
              src="/widgetlibrary/widget_demo1-2.png"
              alt="Screenshot from v1.0 Demo Video: widget page"
            />
          </div>
        </div>
        <div class="half">
          <h3>Feedback:</h3><p>
            <ul>
              <li>Straightforward to navigate</li>
              <li>
                Clear, short instructions let the user understand what to do
                quickly and dive into using the tool
              </li>
              <li>Needs more branding</li>
              <li>Navigation bar needs cleaning up</li>
              <li>Needs a FAQ section</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header">
      <h2>version 2.0 demo video: released for use</h2>
    </div>
    <div class="section-content">
      <div class="section-wrapper responsive-center">
        <div class="half">
          <iframe
            class="responsive-video border rounded-corners"
            src="https://www.youtube.com/embed/QymBTeX-tUY"
            title="Widget Library Demo v2.0"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

          <div class="section-wrapper-no-responsive">
            <img
              class="pop-image half-no-responsive border rounded-corners"
              src="/widgetlibrary/widget_demo2-1.png"
              alt="Screenshot from v2.0 Demo Video: home page"
            />
            <img
              class="pop-image half-no-responsive border rounded-corners"
              src="/widgetlibrary/widget_demo2-2.png"
              alt="Screenshot from v2.0 Demo Video: widget page"
            />
          </div>
        </div>
        <div class="half">
          <h3>Feedback:</h3><p>
            <ul>
              <li>
                Needs scalability for regional content, including regional
                translations
              </li>
              <li>A search bar for widgets when there are more created</li>
              <li>
                Needs a way for the user to know which landing page is linked to
                the widget at a glance
              </li>
              <li>
                Needs a way to add custom Google Analytics tags without doing it
                completely manually
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header">
      <h2>example of a Widget in use</h2>
    </div>
    <div class="section-content">
      <div class="section-wrapper responsive-center">
        <div class="third">
          <img
            class="pop-image project-image border rounded-corners"
            src="/widgetlibrary/widget_usage1.png"
            alt="Email and where to paste"
          />
        </div>
        <div class="third">
          <img
            class="pop-image project-image border rounded-corners"
            src="/widgetlibrary/widget_usage2.png"
            alt="Widget when pasted"
          />
        </div>
        <div class="third">
          <img
            class="pop-image project-image border rounded-corners"
            src="/widgetlibrary/widget_usage3.png"
            alt="Widget in mobile mode"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-header"><h2>results/adoption</h2></div>
    <div class="section-content">
      <p class="text-wrapper">
        Marketers and Sales found that it helped drastically lessen the time
        needed to dig around for a relevant product brochure or website. Also,
        it helped sales both promote and align with the current marketing
        campaign being run for their products.
        <br />
        It also helped marketing teams revive older webpages and incentivize them
        to maintain them for Widgets.
      </p>
    </div>
  </div>

  <style>
    .widget-gif {
      max-width: 200px;
      height: auto;
      background-color: white;

      @media only screen and (max-width: 660px) {
        max-width: 100px;
      }
    }
  </style>
</div>
