---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Modal from "../components/Modal.astro";

import "@fontsource-variable/dm-sans";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <Modal />
  </body>
</html>
<style is:global>
  * {
    box-sizing: border-box;
    font-family: "DM Sans Variable", system-ui, sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 1em;
    scroll-behavior: smooth;
  }
  :root {
    box-sizing: border-box;
    font-size: 14px;
  }
  html {
    background: #fff;
    font-weight: 300;
    scroll-behavior: smooth;
    color: #4d4d4d;
  }

  h1 {
    font-weight: 400;
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 300;
  }

  h3 {
    font-weight: 550;
    font-size: 1em;
    margin-bottom: 12px;
  }

  body {
  }

  strong {
    font-weight: 550;
  }

  ul {
    list-style-position: inside;
    list-style-type: circle;
    padding-left: 8px;
  }

  ol {
    list-style-position: inside;
    padding-left: 8px;
  }

  a:-webkit-any-link {
    text-decoration: none;
    color: #4d4d4d;
  }
  .responsive-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 4px;
  }
  .border {
    border: 1px solid #efefef;
  }

  .rounded-corners {
    border-radius: 4px;
  }

  #background-fish-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: -520px;
    z-index: -999;
    height: 100%;
  }
  #background-fish {
    object-fit: contain;
    height: 1100px;
    opacity: 65%;
    width: auto;
  }
</style>
